@{
    ViewBag.Title = "Index";
}

<h2>Dashr</h2>
<p>
    This dashboard sample shows information about power readings.
</p>
<table>
    <tr>
        <td>
            <a class='multi-line-button' href='#' style='width:5em'>
                <span class='title'>300</span>
                <span class='subtitle'>Actual kWh</span>
            </a>
        </td>
        <td>
            <a class='multi-line-button' href='#' style='width:5em'>
                <span class='title'>300</span>
                <span class='subtitle'>Average kWh</span>
            </a>
        </td>
    </tr>
</table>     
