@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">

    var TrendItem = function(theValue, theTimestamp) {
        this.value = theValue,
        this.timestamp = theTimestamp
    };

    var chartOptions = {
        series: { shadowSize: 0 }, // drawing is faster without shadows
        yaxis: { min: 0, max: 100 },
        xaxis: { mode: "time" }
    };


    var ViewModel = function () {
        this.powerValue = ko.observable();
        this.powerValueList = ko.observableArray();
        this.powerValueSeries = [];
        this.averagePowerValueSeries = [];
        this.count = 0;
        this.addPowerValue = function (powerValueToAdd) {
            this.powerValue(powerValueToAdd);
            var item = new TrendItem(powerValueToAdd, new Date());
            this.powerValueList.push(item);
            this.count = this.count + 1;
            this.powerValueSeries.push([item.timestamp.getTime(), item.value]);
            this.averagePowerValueSeries.push([item.timestamp.getTime(), this.averagePowerValue()]);
            this.plot.setData([this.powerValueSeries, this.averagePowerValueSeries]);
            this.plot.setupGrid();
            this.plot.draw();
        };

        this.averagePowerValue = ko.computed(function () {
            var sum = 0;
            for (var i = 0; i < this.powerValueList().length; i++) {
                sum = sum + this.powerValueList()[i].value;
            }
            return (sum / this.powerValueList().length).toFixed(1);
        }, this);
    };

    var pageViewModel = new ViewModel();

    function updatePage() {
        var value = Math.floor((Math.random()*100)+1);
        pageViewModel.addPowerValue(value);

    }



    ko.bindingHandlers.dateString = {
        update: function (element, valueAccessor, allBindingsAccessor, viewModel) {
            var value = valueAccessor(),
            allBindings = allBindingsAccessor();
            var valueUnwrapped = ko.utils.unwrapObservable(value);
            var pattern = allBindings.datePattern || 'yyyy-MM-dd hh:mm:ss';
            $(element).text(valueUnwrapped.toString(pattern));
        }
    }

    $(function () {
        pageViewModel.plot = $.plot($("#chart"), [[1, 2], [2, 10]], chartOptions);
        setInterval(updatePage, 1200);
        

        ko.applyBindings(pageViewModel);
    });

</script>

<h2>Dashr</h2>
<p>
    This dashboard sample shows information about power readings.
</p>
<table>
    <tr>
        <td>
            <a class='multi-line-button' href='#' style='width:5em'>
                <span class='title' data-bind="text: powerValue">300</span>
                <span class='subtitle'>Actual (kW)</span>
            </a>
        </td>
        <td>
            <a class='multi-line-button' href='#' style='width:5em'>
                <span class='title' data-bind="text: averagePowerValue">300</span>
                <span class='subtitle'>Average (kW)</span>
            </a>
        </td>
    </tr>
</table>

<div id="chart" style="width: 90%; height: 250px"></div>

<table>
    <thead>
        <tr>
            <th>Power Value</th>
            <th>Timestamp</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: powerValueList">
        <tr>
            <td data-bind="text: value"></td>
            <td data-bind="dateString: timestamp"></td>
        </tr>
    </tbody>
</table>     
