@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">

    var TrendItem = function(theValue, theTimestamp) {
        this.value = theValue,
        this.timestamp = theTimestamp
    };

    var ViewModel = function () {
        this.powerValue = ko.observable(),
        this.powerValueList = ko.observableArray(),
        this.addPowerValue = function (powerValueToAdd) {
            this.powerValue(powerValueToAdd);
            this.powerValueList.push(new TrendItem(powerValueToAdd, new Date()));
        };
    };

    var pageViewModel = new ViewModel();

    function updatePage() {
        var value = Math.floor((Math.random()*100)+1);
        pageViewModel.addPowerValue(value);
    }

    ko.bindingHandlers.dateString = {
        update: function (element, valueAccessor, allBindingsAccessor, viewModel) {
            var value = valueAccessor(),
            allBindings = allBindingsAccessor();
            var valueUnwrapped = ko.utils.unwrapObservable(value);
            var pattern = allBindings.datePattern || 'yyyy-MM-dd hh:mm:ss';
            $(element).text(valueUnwrapped.toString(pattern));
        }
    }

    $(function () {
        setInterval(updatePage, 1200);


        ko.applyBindings(pageViewModel);
    });

</script>

<h2>Dashr</h2>
<p>
    This dashboard sample shows information about power readings.
</p>
<table>
    <tr>
        <td>
            <a class='multi-line-button' href='#' style='width:5em'>
                <span class='title' data-bind="text: powerValue">300</span>
                <span class='subtitle'>Actual kWh</span>
            </a>
        </td>
        <td>
            <a class='multi-line-button' href='#' style='width:5em'>
                <span class='title'>300</span>
                <span class='subtitle'>Average kWh</span>
            </a>
        </td>
    </tr>
</table>

<table>
    <thead>
        <tr>
            <th>Power Value</th>
            <th>Timestamp</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: powerValueList">
        <tr>
            <td data-bind="text: value"></td>
            <td data-bind="dateString: timestamp"></td>
        </tr>
    </tbody>
</table>     
